*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;/*sirve para el efecto hover de la imagen*/
}
/* IMAGEN */
.header img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* margin: 10px 20px; */
    text-align: center;
}
.img-hover{
    position: absolute;
    left: 10;
    top: 107;
    opacity: 0;
}
.img-hover:hover{
    opacity: 1;
}
/* FIN IMAGEN */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #131516; /* #ffff blanco*/
    font-family: 'Lato', sans-serif;
    padding: 0 25px;
}

/* CARD */
.card-container{
    display: flex;
    width: 650px;
    height: auto;
    background: linear-gradient(to right,#024945, #12a89c); /* #2FEBD4, #DEFFFD*/
    border-radius: 12px;
    box-shadow: 1px 7px 10px 2px rgba(0, 0, 0, .15);
}

.descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header, .descripcion{
    padding: 30px;
    text-align: justify;
    color: #FFFFFF;
}

.descripcion h4{
    line-height: 2;
    font-weight: 500;
}

.descripcion p{
    font-weight: 300;
    font-size: 17px;
}

.descripcion h1{
    font-weight: 400;
}

/* REDES */
.descripcion .redes{
    margin-top: 30px;
}
.descripcion .redes a{
    display: inline-block;
    margin: 0 30px 0 30px;
    color: #FFFFFF;
    font-size: 30px;
    transition: .3s;
}
a:hover{
    transform: translateY(-3px) scale(1.05);
}

/* TOOLTIP */
.tooltip-text {
    position: absolute;
    top: -25px;
    left: -115%;
    z-index: 2;
    width: 100px;
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}
#fade {
    opacity: 0;
    transition: opacity 0.3s;
}
.hover-text:hover #fade { opacity: 1; }
.hover-text {
    position: relative;
    display: inline-block;
    margin: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    text-align: center;
}

/* RESPONSIVE */
@media (max-width: 650px){
    .container{
        height: 100vh;
        padding: 0 15px;
    }
    .card-container{
        display: flex;
        flex-direction: column-reverse;
        background: linear-gradient(#12a89c, #024945);
        width: 750px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .header img{
        width: 100px;
        height: 100px;
    }
    .header{
        padding: 15px 0 0 0;
    }
    .descripcion{
        padding: 10px 20px 18px 20px;
    }
    .descripcion .redes{
        margin-top: 25px;
    }
}
@media (min-width: 320px){
    .redes{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
}